doctype html
html(lang="en")
  head
    title Sentiment: submit message
  body
    h1 
      a(href='/') Sentiment
    h3 post a new message:
    form(method='POST')
       input(name='text')
       input(type='submit', value='submit')
